@model DailyIncomeStatment
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ReportDateQuery dateQuery = (ReportDateQuery)ViewBag.DateQuery;
    string checkOutUrl = (dateQuery.Monthly ? "/reports/monthlycheckouts" : "/reports/checkouts") + Request.Url.Query;
    string kitchenOrdersUrl = (dateQuery.Monthly ? "/reports/monthlyorders" : "/reports/dailyorders") + (string.IsNullOrEmpty(Request.Url.Query) ? "?s=1" : Request.Url.Query);
    string servicesOrdersUrl = (dateQuery.Monthly ? "/reports/monthlyserviceorders" : "/reports/dailyserviceorders") + (string.IsNullOrEmpty(Request.Url.Query) ? "?s=1" : Request.Url.Query);
    var expensesCategories = ReportsManager.Instance.GetExpenseCategories();
    var incomesCategories = ReportsManager.Instance.GetIncomeCategories();
}

<style>
    tr.underline {
        border-bottom: 1px solid #808080;
    }

    .total{
        text-decoration: none !important;
    }
    .total *{
        text-decoration: none !important;
    }
</style>

<div class="container-fluid report-screen tight-print">
    <h1 class="reports-title">@I18n.T("Income Statement")</h1>
    <div class="block-header">
        <h2>
            @I18n.T("DAILY REPORT")
            <input type="text" id="fromDate" class="date-picker report-main-date" style="width:70px;" value="@dateQuery.FromOrDefault().ToShortUIDateString()" />
            <button id="updateReport" class="no-print">@I18n.T("Update")</button>
        </h2>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-print-6">
            <div class="card">
                <div class="header">
                    <h2>@I18n.T("Kitchen & Services")</h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-print-6">
                            <h4 class="simple-list-header">@I18n.T("Paid In Cash")</h4>
                            <table class="simple-list">
                                <tbody>
                                    <tr>
                                        <td>@I18n.T("Kitchen"):</td>
                                        <td class="money-color">$@Model.CashOrdersReport.Kitchen.ToString("N0")</td>
                                    </tr>
                                    <tr class="underline">
                                        <td>@I18n.T("Services"):</td>
                                        <td class="money-color">$@Model.CashOrdersReport.Services.ToString("N0")</td>
                                    </tr>

                                    <tr class="total">
                                        <td></td>
                                        <td class="money-color">$@Model.CashOrdersReport.Total.ToString("N0")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-print-6">
                            <h4 class="simple-list-header">@I18n.T("Paid In Credit Card")</h4>
                            <table class="simple-list">
                                <tbody>
                                    <tr>
                                        <td>@I18n.T("Kitchen"):</td>
                                        <td class="money-color">$@Model.CreditOrdersReport.Kitchen.ToString("N0")</td>
                                    </tr>
                                    <tr  class="underline">
                                        <td>@I18n.T("Services"):</td>
                                        <td class="money-color">$@Model.CreditOrdersReport.Services.ToString("N0")</td>
                                    </tr>

                                    <tr class="total">
                                        <td></td>
                                        <td class="money-color">$@Model.CreditOrdersReport.Total.ToString("N0")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-print-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <a class="no-print" href="@checkOutUrl">@I18n.T("CheckOuts") (@Model.CheckOutsReport.TotalPeople)</a>
                        <span class="print">@I18n.T("CheckOuts") (@Model.CheckOutsReport.TotalPeople People)</span>
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <table class="simple-list">
                                <tbody>
                                    <tr>
                                        <td>@I18n.T("Paid In Cash"):</td>
                                        <td class="money-color">$@Model.CheckOutsReport.TotalPaidInCash.ToString("N0")</td>
                                    </tr>
                                    <tr>
                                        <td>@I18n.T("Paid In Credit Card"):</td>
                                        <td class="money-color">$@Model.CheckOutsReport.TotalPaidInCredit.ToString("N0")</td>
                                    </tr>
                                    <tr>
                                        <td>@I18n.T("Deposits (Cash)"):</td>
                                        <td class="money-color">$@Model.DepositsReport.TotalCash.ToString("N0")</td>
                                    </tr>
                                    <tr  class="underline">
                                        <td>@I18n.T("Deposits (Credit Card)"):</td>
                                        <td class="money-color">$@Model.DepositsReport.TotalCredit.ToString("N0")</td>
                                    </tr>
                                    <tr class="total">
                                        @{ var coTotal = Model.CheckOutsReport.Total + Model.DepositsReport.Total;}
                                        <td></td>
                                        <td class="money-color">$@coTotal.ToString("N0")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                        
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-print-6">
            <div class="card">
                <div class="header">
                    <h2>@I18n.T("Summery")</h2>
                </div>
                <div class="body">                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <h4>Total</h4>
                            <table class="simple-list">
                                <tbody>
                                    <tr>
                                        <td>@I18n.T("Income"):</td>
                                        @{ var totalIncome = Model.CashOrdersReport.Total +
                                                               Model.CheckOutsReport.Total +
                                                               Model.CreditOrdersReport.Total +
                                                               Model.DepositsReport.Total +
                                                               Model.IncomesReport.Total;
                                                }
                                        <td class="money-color">$@totalIncome.ToString("N0")</td>
                                    </tr>
                                    <tr class="underline">
                                        <td>@I18n.T("Expenses"):</td>
                                        <td class="expense-color">$@Model.ExpensesReport.Total.ToString("N0")</td>
                                    </tr>
                                    <tr class="total">
                                        <td></td>
                                        <td class="@if (Model.TotalRevenue >= 0) { <text>money-color</text> } else { <text>expense-color</text> } ">$@Model.TotalRevenue.ToString("N0")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <h4>Total Cash</h4>
                            <table class="simple-list">
                                <tbody>
                                    <tr>
                                        <td>@I18n.T("CheckOut"):</td>
                                        <td class="money-color">$@Model.CheckOutsReport.TotalPaidInCash.ToString("N0")</td>
                                    </tr>                                  
                                    <tr>
                                        <td>@I18n.T("Deposits"):</td>
                                        <td class="money-color">$@Model.DepositsReport.TotalCash.ToString("N0")</td>
                                    </tr>                                   
                                    <tr>
                                        <td>@I18n.T("Kitchen"):</td>
                                        <td class="money-color">$@Model.CashOrdersReport.Kitchen.ToString("N0")</td>
                                    </tr>
                                    <tr>
                                        <td>@I18n.T("Services"):</td>
                                        <td class="money-color">$@Model.CashOrdersReport.Services.ToString("N0")</td>
                                    </tr>
                                    <tr  class="underline">
                                        <td>@I18n.T("Other"):</td>
                                        <td class="money-color">$@Model.IncomesReport.Total.ToString("N0")</td>
                                    </tr>
                                    <tr class="total">
                                        <td></td>
                                        @{ var totalCash = Model.CashOrdersReport.Total +
                                                             Model.CheckOutsReport.TotalPaidInCash +
                                                             Model.DepositsReport.TotalCash +
                                                             Model.IncomesReport.Total;}
                                        <td class="money-color">$@totalCash.ToString("N0")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <h4>Total Credit Card</h4>
                            <table class="simple-list">
                                <tbody>                                   
                                    <tr>
                                        <td>@I18n.T("CheckOuts"):</td>
                                        <td class="money-color">$@Model.CheckOutsReport.TotalPaidInCredit.ToString("N0")</td>
                                    </tr>                                  
                                    <tr>
                                        <td>@I18n.T("Deposits"):</td>
                                        <td class="money-color">$@Model.DepositsReport.TotalCredit.ToString("N0")</td>
                                    </tr>                                  
                                    <tr>
                                        <td>@I18n.T("Kitchen"):</td>
                                        <td class="money-color">$@Model.CreditOrdersReport.Kitchen.ToString("N0")</td>
                                    </tr>                                   
                                    <tr  class="underline">
                                        <td>@I18n.T("Services"):</td>
                                        <td class="money-color">$@Model.CreditOrdersReport.Services.ToString("N0")</td>
                                    </tr>                                   
                                    <tr class="total">
                                        <td></td>
                                        @{ 
                                            var totalCredit = Model.CheckOutsReport.TotalPaidInCredit +
                                                              Model.CreditOrdersReport.Total +
                                                              Model.DepositsReport.TotalCredit;
                                        }
                                        <td class="money-color">$@totalCredit.ToString("N0")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-print-12">
            <div class="card">
                <div class="header">
                    <h2>@I18n.T("Expense Categories")</h2>
                </div>
                <div class="body">
                    <table class="table tight-table">
                        <thead>
                            <tr>
                                <th>@I18n.T("Date")</th>
                                <th>Category</th>
                                <th>Comment</th>
                                <th>@I18n.T("Value")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ExpensesReport.List)
                            {
                                var cat = expensesCategories.FirstOrDefault(x => x.id == item.expense_category_id);
                                cat = cat ?? new ExpenseCategory { name = "" };

                            <tr>
                                <td>@item.expense_date.ToShortUIDateTimeString()</td>
                                <td>@cat.name (@cat.expense_category_type.ToString())</td>
                                <td>@item.comment</td>
                                <td>
                                    <span class="expense-color">$@item.expense_val.ToString("N0")</span>
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="total">
                                <td colspan="3">@I18n.T("Total")</td>
                                <td class="expense-color">$@Model.ExpensesReport.Total.ToString("N0")</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-print-12">
            <div class="card">
                <div class="header">
                    <h2>@I18n.T("Income Categories")</h2>
                </div>
                <div class="body">
                    <table class="table tight-table">
                        <thead>
                            <tr>
                                <th>@I18n.T("Date")</th>
                                <th>Category</th>
                                <th>Comment</th>
                                <th>@I18n.T("Value")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.IncomesReport.List)
                            {
                                var cat = incomesCategories.FirstOrDefault(x => x.id == item.category_id);
                                cat = cat ?? new IncomeCategory();

                                <tr>
                                    <td>@item.date.ToShortUIDateTimeString()</td>                                   
                                    <td>@cat.name (@cat.income_category_type.ToString())</td>
                                    <td>@item.comment</td>
                                    <td>
                                        <span class="money-color">$@item.val.ToString("N0")</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="total">
                                <td colspan="3">@I18n.T("Total")</td>
                                <td class="money-color">$@Model.IncomesReport.Total.ToString("N0")</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#updateReport").click(function () {
            var from = $("#fromDate").val();
            window.location = "/reports/incomestatement?from=" + from + "&to=" + from;
        });

    });

</script>