@model List<UserDiscount>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int ghostUserId = CacheManager.Instance.GhostUser.id;
    ReportDateQuery dateQuery = (ReportDateQuery)ViewBag.DateQuery;
}

<script src="~/js/highchart-3d.js"></script>

<div class="container-fluid report-screen ">
    <h1 class="reports-title">@I18n.T("DISCOUNTS DAILY REPORT")</h1>
    <div class="block-header">
        <h2>
            @I18n.T("DAILY REPORT OF")
            <b><input type="text" id="fromDate" class="date-picker report-main-date" style="width:100px;" value="@dateQuery.FromOrDefault().ToShortUIDateString()" /></b> - <b><input id="toDate" type="text" class="date-picker report-main-date" style="width:100px;" value="@dateQuery.ToOrDefault().ToShortUIDateString()" /></b>
            <button id="updateReport">@I18n.T("Update")</button>
        </h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card clearfix">
                <div class="body dataTable-no-header">
                    <table class="table table-small dataTable" style="width:100%;">
                        <thead>
                            <tr>                                
                                <th>@I18n.T("Id")</th>
                                <th>@I18n.T("Date")</th>
                                <th>@I18n.T("Order Id")</th>
                                <th>@I18n.T("Guest")</th>
                                <th>@I18n.T("Staff")</th>
                                <th>@I18n.T("Payment Type")</th>
                                <th>@I18n.T("Comment")</th>
                                <th>@I18n.T("Price")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.id</td>
                                    <td>@item.discount_date.ToShortUIDateTimeString()</td>
                                    <td>
                                        @if(item.order_id == 0)
                                        {
                                            <text>-</text>
                                        }
                                        else
                                        {
                                            <a href="/kitchen/order?orderid=@item.order_id">@item.order_id</a>
                                        }
                                    </td>
                                    <td>
                                        @if(item.user_id == ghostUserId)
                                        {
                                            <text>@item.user_name</text>
                                        }
                                        else
                                        {
                                            <a href="/guest/userprofile?userid=@item.user_id">@item.user_name</a>
                                        }
                                    </td>
                                    <td>@item.staff</td>
                                    <td>@item.payment_type_id.ToString()</td>
                                    <td>@item.comment</td>
                                    <td>$@item.price.ToString("N0")</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                                <td align="left" style="font-weight:bold;">@I18n.T("Total"): $@Model.Sum(x=>x.price).ToString("N0")</td>
                            </tr>
                        </tfoot>
                    </table>
                    <button data-toggle="modal" data-target="#modalAdd" type="button" class="btn btn-success btn-circle-lg waves-effect waves-circle waves-float pull-right">
                        <i class="material-icons">add_circle</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
  
    $("#updateReport").click(function () {
        var from = $("#fromDate").val();
        var to = $("#toDate").val();
        window.location = "/reports/DailyDiscount?from=" + from + "&to=" + to;
    });

</script>