@model List<User>
@{
    ViewBag.Title = "GuestList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var rooms = CacheManager.Instance.Rooms;

}

<div class="container-fluid report-screen ">
    <h1 class="reports-title">
        @I18n.T("Residents List")
    </h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="body dataTable-no-header">
                    <table class="table table-small dataTable" style="width:100%;">
                        <thead>
                            <tr>
                                <th>@I18n.T("Id")</th>
                                <th>@I18n.T("Name")</th>
                                <th>@I18n.T("Checked In By")</th>
                                <th>@I18n.T("Check In")</th>
                                <th>@I18n.T("Check Out")</th>
                                <th>@I18n.T("Room")</th>
                                <th>@I18n.T("Bed")</th>
                                <th>@I18n.T("Passport")</th>
                                <th>@I18n.T("Sex")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                UIRoom uiRoom = rooms.FirstOrDefault(x => x.beds.Exists(y => y.bed_id == item.bed_id));

                                <tr>
                                    <td>@item.id</td>
                                    <td><a href="/guest/UserProfile?userid=@item.id">@item.name</a></td>

                                    <td>@item.checked_in_by</td>
                                    <td>@item.cidate.ToShortUIDateTimeString()</td>
                                    <td>
                                        @{
                                            if (item.codate.HasValue)
                                            {
                                                <text>@item.codate.Value.ToShortUIDateTimeString()</text>
                                            }
                                            else
                                            {
                                                <text>-</text>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (uiRoom != null)
                                    { <text>@uiRoom.room.id</text> }
                                </td>
                                <td>@item.bed_id</td>
                                <td>@item.passport</td>
                                <td>@item.sex.ToString().Sex()</td>
                            </tr>
                                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>